body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
}
.custom-img-size {
    width: 30px;
    height: 30px;
}

.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    padding: 10px;
}
#search-box {
    position: relative;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Set the width as required */
    z-index: 1; /* To ensure the search results appear above other content */
}