<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='{{ url_for("static", filename="bundle.css") }}'>
    <title>{% block title %}{% endblock %}</title>
    <script> dataLayer = []; </script>
    {% import 'tag_manager.html' as tag_manager %}
    {{ tag_manager.consent() }}
    {{ tag_manager.tag_manager_function() }}
    {% block style %} {% endblock %}
</head>

<body>
    {{ tag_manager.tag_manager_image() }}
    {% import 'navigation/macros.html' as macros %}
    {{ macros.navbar(links=[
    {'name': 'Home', 'url': '/'},
    {'name': 'About', 'url': '/about'},
    {'name': 'Contact', 'url': '/contact'},
    {'name': 'Blog', 'url': '/blog'},
    {'name': 'Products', 'url': '/products'},
    {'name': 'Reporting', 'url': '/reporting'},
    ]) }}
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col">
                {% block content %}{% endblock %}
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
    <br>
    <footer class="footer ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a type="button" class="btn btn-link" href="{{ url_for('sitemap') }}">Sitemap</a>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <button type="button" class="btn btn-link" onclick="showBanner()">Consent</button>
                    </div>
                </div>
            </div>
        </div>


    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById("search-input").addEventListener("input", function () {
            var query = this.value;
            fetch("/api/search?query=" + encodeURIComponent(query))
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    var resultsHtml = data.map(function (result) {
                        return '<p>' + result.name + ' - ' + result.price + '</p>';
                    }).join("");

                    document.getElementById("search-results").innerHTML = resultsHtml;
                    updateSearchResultsVisibility();
                });
        });
    </script>
    {% import 'consent.html' as consent %}
    {{ consent.consent_bar() }}
    {% block scripts %}
    {% endblock %}
    <script>
        const darkThemeStyle = `
            body {
                background-color: #212529;
                color: #fff;
            }
            .card {
                background-color: #212529;
                color: #fff;
            }
        `;
        const lightThemeStyle = `
            body {
                background-color: #fff;
                color: #212529;
            }
            .card {
                background-color: #fff;
                color: #212529;
            }
        `;
        // Event listener
        document.getElementById('themeSwitch').addEventListener('change', function (event) {
            if (event.target.checked) {
                document.getElementById('theme-style').textContent = darkThemeStyle;
            } else {
                document.getElementById('theme-style').textContent = lightThemeStyle;
            }
        });
    </script>
    <script src='{{ url_for("static", filename="bundle.js") }}'></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>